html {
  font-size: 20px;
}

body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 0.7rem;
  }
  
a {
  color: $vmec-darker-color;
  &:hover {
    color: $vmec-main-color;
    text-decoration: none;
    transition: all 0.3s $normal-ts;
  }
}

.vmec-hr {
  max-width: 200px;
  &.center {
    margin: 0 calc((100% - 200px) / 2);
  }
  hr {
    margin: 15px 0;
    border-top: 2px solid $vmec-main-color;
  }
}

.vmec_btn {
  a {
    font-size: 0.7rem;
    border-radius: 0;
    color: $white-color;
    &.btn {
      &.reverse {
        color: $white-color;
        background-color: transparent;
        border: 1px solid $white-color;
        &:hover {
          background-color: $vmec-main-color;
          border: 1px solid $vmec-main-color;
          transition: all 0.3s $normal-ts;
        }
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
  &:not(:hover) {
    a {
      background-color: $vmec-main-color;
      transition: all 0.3s $multi-ts;
      i {
        opacity: 0;
        margin-left: -0.6rem;
        transition: all 0.3s $multi-ts;
      }
    }
  }
  &:hover {
    a {
      background-color: $vmec-second-color;
      transition: all 0.3s $multi-ts;
      i {
        opacity: 1;
        margin-left: 0.5rem;
        transition: all 0.3s $multi-ts;
      }
    }
  }
}

// Custom Form
.form-control {
  font-size: inherit;
  border-radius: 0;
  color: $vmec-dark-color;
  &:focus {
    color: $vmec-dark-color;
    border-color: $vmec-dark-color !important;
    outline: 0;
    box-shadow: none;
  }
}

// VMEC Hotline
.vmec_hotline {
  background-color: $vmec-main-color;
  p {
    margin: 0;
  }
  .vmec_btn {
    a {
      color: $vmec-darker-color !important;
      background-color: $white-color;
    }
  }
}

  // Header
  header {
    min-height: 100px;
    .header_top_bar {
      max-height: 30px;
      background-color: $vmec-main-color;
      .input-group {
        max-width: 130px;
        overflow: hidden;
        i {
          color: $white-color;
          &.ion-ios-globe {
            font-size: 1rem;
          }
          &.ion-ios-swap {
            transform: rotate(90deg);
          }
        }
        .custom-select {
          max-height: 30px;
          color: $white-color;
          border: none;
          background: none;
          font-size: 0.6rem;
          padding: 0.1rem 0.5rem;
          &#language {
            max-width: 80px;
          }
          option {
            background-color: $vmec-lighter-color;
            border: 0;
            color: $vmec-darker-color;
          }
          &:focus {
            box-shadow: none;
          }
        }
      }
    }

    .header_main {
      background-color: $white-color;
      box-shadow: inset 0 -1px 0 0 $vmec-light-color;
      &.fixed-top {
        box-shadow: 0 1px 4px 0 $vmec-dark-color;
        img {
          max-height: 40px;
          transition: all 0.3s $normal-ts;
        }
      }
      nav {
        button.navbar-toggler {
          font-size: 1rem;
          border: none;
          outline: none;
        }
        img {
          max-height: 50px;
          transition: all 0.3s $normal-ts;
        }
        ul {
          li {
            &.nav-item {
              &.active {
                a {
                  &.nav-link {
                    color: $vmec-main-color !important;
                  }
                }
              }
              a {
                &.nav-link {
                  color: $vmec-darker-color !important;
                  font-size: 0.6rem;
                  font-weight: 700;
                  &:hover {
                    cursor: pointer;
                    color: $vmec-main-color !important;
                    transition: all 0.3s $normal-ts;
                  }
                  >i {
                    font-size: 1rem;
                  }
                }
              }
              &:last-child {
                a {
                  margin-top: 0.4rem;
                  margin-left: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }

  // Title Bar
  .title_bar {
      min-height: 300px;
      background-color: transparent;
    &__content {
      min-height: 300px;
      background: rgba($black-color,0.8);
      .breadcrumb {
        background-color: transparent;
        .breadcrumb-item {
          text-transform: uppercase;
          +.breadcrumb-item::before {
            content: "|";
          }
          a {
            &:hover {
              color: $vmec-main-color;
              transition: all 0.3s $normal-ts;
            }
            color: $white-color;
          }
          &::before,
          &.active {
            color: $white-color;
          }
        }
      }
    }
  }

  // Main Container
  .main_container {
    max-width: 1200px;
    margin: 0 auto;
    // Main Banner
    .main_banner {
      background-color: transparent;
      &__message {
        min-height: 60vh;
        background: rgba($black-color,0.5);
        a {
          margin-bottom: 20px;
        }
      }
    }

    // Main Content
    .main_content {

      // VMEC Welcome
      .vmec_welcome {
        background-color: $vmec-lighter-color;
      }

      // VMEC Message
      .vmec_message {
        background-color: $white-color;
        background-image: url($photo-path+'/aditya-chinchure-499383.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        &__avata {
          background-image: url($photo-path+'/avata-director.jpg');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          width: 100%;
          height: 100%;
          min-height: 400px;
        }
        &__content {
          height: 100%;
          background-color: rgba($black-color,0.7);
        }
      }

      // VMEC Product
      .vmec_product {
        background-color: $white-color;
        min-height: 440px;
        &__elevator {
          background-image: url($photo-path+'/thang_may.jpg');
        }
        &__escalator {
          background-image: url($photo-path+'/thang_cuon.jpg');
        }
        &__elevator,
        &__escalator {
          min-height: 440px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }
        &__text {
          background-color: rgba($black-color,0.5);
          &:not(:hover) {
            min-height: 250px;
            transition: all 0.3s $multi-ts;
          }
          &:hover {
            cursor: pointer;
            text-decoration: none;
            min-height: 440px;
            transition: all 0.3s $multi-ts;
          }
        }
      }

      // VMEC Services
      .vmec_services {
        background-color: $vmec-lighter-color;
        &__item {
          min-height: 400px;
          margin-bottom: 30px;
          background-color: $white-color;
          box-shadow: inset 0 0 0 1px $vmec-light-color;
          &:hover {
            text-decoration: none;
            transition: all 0.3s $normal-ts;
            .vmec_services__text {
              color: $vmec-darker-color;
            }
          }
        }
        &__icon {
          i {
            font-size: 3rem;
          }
        }
      }

      // VMEC Customers
      .vmec_customers {
        background-color: $white-color;
        @each $key,
        $val in $vmec-customers {
          &#{$key} {
            background-image: url($photo-path+$val);
            min-height: 500px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
          }
        }
        &__text {
          min-height: 150px;
          padding: 1.5rem;
          &:not(:hover) {
            background-color: rgba($black-color,0.5);
            transition: all 0.3s $multi-ts;
          }
          &:hover {
            cursor: pointer;
            padding-left: 5%;
            text-decoration: none;
            background-color: rgba($black-color,0.9);
            transition: all 0.3s $multi-ts;
          }
        }
        .owl-carousel {
          position: relative;
          .owl-nav {
            margin: 0;
            position: absolute;
            top: 50%;
            overflow: hidden;
            transform: translateY(-50%);
            width: 100%;
            display: flex !important;
            z-index: 2000;
            button {
              margin: 0;
              font-size: 1rem;
              border-radius: 0;
              padding: 1rem 0.6rem !important;
              background-color: $vmec-darker-color;
              color: $white-color;
              &:first-child {
                margin-right: auto !important;
              }
              &:focus {
                outline: none;
              }
            }
          }
          &:not(:hover) {
            .owl-prev {
              margin-left: -30px;
              transition: all 0.3s $multi-ts;
            }
            .owl-next {
              margin-right: -30px;
              transition: all 0.3s $multi-ts;
            }
          }
          &:hover {
            cursor: -webkit-grab;
            .owl-prev {
              margin-left: 0 !important;
              transition: all 0.3s $multi-ts;
            }
            .owl-next {
              margin-right: 0 !important;
              transition: all 0.3s $multi-ts;
            }
          }
        }
      }

      // VMEC Support
      .vmec_support {
        background-color: $vmec-lighter-color;
        &__item {
          margin-bottom: 30px;
        }
        &__footer {
          background-color: $white-color;
          box-shadow: inset 0 0 0 1px $vmec-light-color;
          p {
            margin-bottom: 0.3rem;
          }
          a {
            color: $vmec-main-color;
            i {
              padding-top: 0.25rem;
            }
            &:not(:hover) {
              i {
                margin-left: 0.3rem;
                transition: all 0.3s $multi-ts;
              }
            }
            &:hover {
              i {
                margin-left: 0.4rem;
                transition: all 0.3s $multi-ts;
              }
            }
          }
        }
      }

      // VMEC Recuitment
      .vmec_recuitment {
        background-color: $white-color;
        margin-bottom: 5px;
        .container-fluid {
          padding-left: 25px;
          padding-right: 25px;
        }
        &__img {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            box-shadow: inset 0 0 0 5px $white-color;
          }
        }
        &__link {
          display: flex;
          align-items: center;
          justify-content: space-around;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          &:not(:hover) {
            background-color: rgba($black-color,0.7);
            transition: all 0.3s $multi-ts;
            a {
              color: $white-color;
              transition: all 0.3s $multi-ts;
              i {
                opacity: 0;
                margin-left: 0;
                transition: all 0.3s $multi-ts;
              }
            }
          }
          &:hover {
            background-color: rgba($black-color,0.9);
            transition: all 0.3s $multi-ts;
            a {
              color: $vmec-main-color;
              transition: all 0.3s $multi-ts;
              i {
                opacity: 1;
                margin-left: 0.5rem;
                transition: all 0.3s $multi-ts;
              }
            }
          }
          a {
            padding: 5rem 0;
            z-index: 1;
          }
        }
      }

      // VMEC News
      .vmec_news {
        background-color: $vmec-lighter-color;
        &__item {
          margin-bottom: 33px;
          background-color: $white-color;
          box-shadow: inset 0 0 0 1px $vmec-light-color, 0 -3px 0 0 $vmec-main-color;
        }
        &__title {
          margin-bottom: 1rem;
        }
        &__subtitle {
          margin-bottom: 0.5rem;
        }
      }

      // VMEC Contact
      .vmec_contact {
        background-color: $vmec-lighter-color;
        &__form {
          .form-control {
            border: 1px solid $vmec-light-color;
          }
          textarea {
            padding-top: 0.6rem;
          }
          .form-group {
            a {
              &:focus {
                box-shadow: none;
              }
            }
          }
        }
        &__bar {
          background-color: $vmec-darker-color;
        }
        &__add {
          background-color: $white-color;
          box-shadow: inset 0 0 0 1px $vmec-light-color;
        }
        &__office {
          margin-bottom: 1rem;
          p {
            margin-bottom: 0.5rem;
          }
          a {
            color: $vmec-main-color;
            &:not(:hover) {
              i {
                margin-right: 0.25rem !important;
                transition: all 0.3s $normal-ts;
              }}
            &:hover {
              i {
                margin-right: 0.5rem !important;
                transition: all 0.3s $normal-ts;
              }
            }
          }
        }
      }
    }

    // Sidebar button
    .vmec_sidebar {
      position: fixed;
      top: 120px;
      right: 0;
      z-index: 1030;
      background-color: $white-color;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      box-shadow: 0 0 4px 0 $vmec-dark-color;
      li {
        &:nth-child(2),
        &:nth-child(3) {
          border-top: 2px solid $vmec-main-color;
        }
        a {
          display: block;
          margin: 0.8rem 1rem;
          i {
            font-size: 1rem;
          }
        }
      }
    }

    // About Content (about.html)
    .about_content {
      &__item {
        margin-bottom: 30px;
      }
      &__footer {
        background-color: $vmec-lighter-color;
        box-shadow: inset 0 0 0 1px $vmec-light-color;
        a {
          &:not(:hover) {
            i {
              margin-right: 0.25rem !important;
              transition: all 0.3s $multi-ts;
            }
          }
          &:hover {
            i {
              margin-right: 0.5rem !important;
              transition: all 0.3s $multi-ts;
            }
          }
        }
      }
    }
    .lichsu_content {
      i {
        color: $vmec-main-color;
      }
    }
    .services_content {
      i {
        color: $vmec-main-color;
        font-size: 0.5rem;
      }
      &__footer {
        background-color: $vmec-lighter-color;
        box-shadow: inset 0 0 0 1px $vmec-light-color;
        a {
          &:not(:hover) {
            i {
              margin-right: 0.25rem !important;
              transition: all 0.3s $multi-ts;
            }
          }
          &:hover {
            i {
              margin-right: 0.5rem !important;
              transition: all 0.3s $multi-ts;
            }
          }
        }
      }
    }
    .product_content {
      .nav {
        .nav-item {
          margin-bottom: 1rem;
          +.nav-item {
            margin-left: 0.5rem;
          }
          .nav-link {
            border: none;
            border-radius: 0;
            font-weight: 700;
            text-transform: uppercase;
            box-shadow: inset 0 0 0 1px $vmec-light-color;
            &.active {
              background-color: $vmec-main-color;
              box-shadow: inset 0 0 0 1px $vmec-main-color;
              transition: all 0.3s $multi-ts;
            }
          }
        }
      }
      &__item {
        display: block;
        margin-bottom: 30px;
      }
      &__footer {
        background-color: $vmec-lighter-color;
        box-shadow: inset 0 0 0 1px $vmec-light-color;
        &:not(:hover) {
          i {
            opacity: 0;
            margin-left: -0.6rem;
            transition: all 0.3s $multi-ts;
          }
        }
        &:hover {
          i {
            opacity: 1;
            margin-left: 0.5rem;
            transition: all 0.3s $multi-ts;
          }
        }
      }
      &__single {
        .nav {
          .nav-item {
            margin-bottom: 0;
            +.nav-item {
              margin-left: 0.5rem;
            }
            .nav-link {
              border-radius: 0;
              border: none;
              box-shadow: none;
              &.active {
                color: $vmec-main-color;
                box-shadow: 0 2px 0 0 $vmec-main-color;
                background-color: transparent;
                transition: all 0.3s $multi-ts;
              }
            }
          }
        }
      }
      p {
        > i {
          font-size: 0.5rem;
          color: $vmec-main-color;
        }
      }
      .vmec_btn {
        a {
          padding: 0.5rem 1rem;
        }
        a[href="./#vmec_contact"] {
          &:not(:hover) {
            color: $vmec-darker-color !important;
            background-color: transparent;
            border: 1px solid $vmec-dark-color;
            transition: all 0.3s $multi-ts;
          }
          &:hover {
            background-color: $vmec-main-color;
            border: 1px solid $vmec-main-color;
            transition: all 0.3s $multi-ts;
          }
        }
      }
    }
    .recuitment_content {
      &__item {
        .accordion {
          .card {
            border-radius: 0;
            border: 1px solid $vmec-dark-color;
            border-bottom: none;
            &:last-child {
              border-bottom: 1px solid $vmec-dark-color;
            }
            &-header {
              padding: 0.5rem 1rem;
              border: none;
              border-radius: 0;
              background-color: $vmec-lighter-color;
              &:hover {
                cursor: pointer;
                background-color: $vmec-light-color;
                transition: all 0.3s $normal-ts;
              }
            }
            &-body {
              i {
                color: $vmec-main-color;
                font-size: 0.5rem;
              }
            }
          }
        }
      }
      &__guide {
        i {
          color: $vmec-main-color;
          font-size: 0.5rem;
        }
      }
    }
  }

  // Footer
  footer {
    .vmec_footer {
      &__main {
        position: relative;
        min-height: 500px;
        background-image: url($photo-path+'aditya-chinchure-499383.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: rgba($black-color,0.9);
        }
      }
      &__title {
        p {
          color: $vmec-main-color !important;
        }
      }
      &__office {
        margin-bottom: 1.5rem;
        p{
          &:first-child {
            margin-bottom: 0.7rem;
            font-weight: 700;
          }
          &:nth-child(2),
          &:nth-child(3) {
            margin-bottom: 0.5rem;
          }
        }
      }
      &__item {
        margin-bottom: 30px;
        a, p {
          color: $white-color;
        }
      }
      &__link,
      &__info {
        p {
          &:hover {
            a {
              color: $vmec-main-color;
              transition: .3s $normal-ts;
            }
          }
        }
      }
      &__social {
        a {
          i {
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  // Popup Modal
  .modal-open {
    padding: 0 !important;
    .modal {
      padding: 0 !important;
      .modal-dialog {
        max-width: 1170px;
      }
      .modal-content {
        border-radius: 0;
        border: none;
      }
      .modal-header {
        border-bottom: 2px solid $vmec-main-color;
      }
      .modal-body {
        overflow: hidden;
        padding-bottom: 56.25%;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 1rem;
        }
        .vmec_btn {
          a {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
          }
          &:not(:hover) {
            a {
              i {
                margin-right: -0.7rem;
                transition: all 0.3s $multi-ts;
              }
            }
          }
          &:hover {
            a {
              i {
                margin-right: 0.5rem;
                transition: all 0.3s $multi-ts;
              }
            }
          }
        }
      }
      &.vmec_search {
        &.show {
          .modal-dialog {
            transform: translate(0,-10%);
          }
        }
        .modal-dialog {
          max-width: 800px;
        }
        .modal-body {
          .form-group {
            margin: 0;
            .form-control {
              font-size: inherit;
              border-radius: 0;
            }
          }
        }
      }
    }
  }

  // Go to top
  #back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1020;
    padding: 0.5rem 0.95rem;
    text-align: center;
    line-height: 30px;
    color: $white-color;
    background-color: $vmec-main-color;
    text-decoration: none;
    visibility: hidden;
    &:hover {
      cursor: pointer;
      background-color: $vmec-second-color;
      transition: .3s $multi-ts;
    }
    &.show {
      visibility: visible;
      transition: .5s $multi-ts;
    }
  }