// Variables

// Color
$vmec-main-color: #ed1b2e !default;
$vmec-second-color: #c91726 !default;
$vmec-lighter-color: #f4f4f4 !default;
$vmec-light-color: #ececec !default;
$vmec-darker-color: #2a2d2e !default;
$vmec-dark-color: #6d7783 !default;
$black-color: #000 !default;
$white-color: #fff !default;

$vmec-customers: () !default;
$vmec-customers: map-merge(
  (
    "__building": "customer_building.jpg",
    "__hotel": "customer_hotel.jpg",
    "__hospital": "customer_hospital.jpg",
    "__school": "customer_school.jpg",
    "__apartment": "customer_apartment.jpg",
    "__downtown": "customer_downtown.jpg",
    "__airport": "customer_airport.jpg",
    "__other": "customer_other.jpg"
  ),
  $vmec-customers
);

// Transition
$normal-ts: ease-in-out;
$multi-ts: cubic-bezier(0.785,0.135,0.15,0.86);

// Images
$photo-path: "../../images/gallery/" !default;
$icon-path: "../../images/icon/" !default;