/* VMEC website styles */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=vietnamese");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=vietnamese");
html {
  font-size: 20px;
}

body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 0.7rem;
}

a {
  color: #2a2d2e;
}

a:hover {
  color: #ed1b2e;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.vmec-hr {
  max-width: 200px;
}

.vmec-hr.center {
  margin: 0 calc((100% - 200px) / 2);
}

.vmec-hr hr {
  margin: 15px 0;
  border-top: 2px solid #ed1b2e;
}

.vmec_btn a {
  font-size: 0.7rem;
  border-radius: 0;
  color: #fff;
}

.vmec_btn a.btn.reverse {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.vmec_btn a.btn.reverse:hover {
  background-color: #ed1b2e;
  border: 1px solid #ed1b2e;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.vmec_btn a.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.vmec_btn:not(:hover) a {
  background-color: #ed1b2e;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.vmec_btn:not(:hover) a i {
  opacity: 0;
  margin-left: -0.6rem;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.vmec_btn:hover a {
  background-color: #c91726;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.vmec_btn:hover a i {
  opacity: 1;
  margin-left: 0.5rem;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.form-control {
  font-size: inherit;
  border-radius: 0;
  color: #6d7783;
}

.form-control:focus {
  color: #6d7783;
  border-color: #6d7783 !important;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.vmec_hotline {
  background-color: #ed1b2e;
}

.vmec_hotline p {
  margin: 0;
}

.vmec_hotline .vmec_btn a {
  color: #2a2d2e !important;
  background-color: #fff;
}

header {
  min-height: 100px;
}

header .header_top_bar {
  max-height: 30px;
  background-color: #ed1b2e;
}

header .header_top_bar .input-group {
  max-width: 130px;
  overflow: hidden;
}

header .header_top_bar .input-group i {
  color: #fff;
}

header .header_top_bar .input-group i.ion-ios-globe {
  font-size: 1rem;
}

header .header_top_bar .input-group i.ion-ios-swap {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

header .header_top_bar .input-group .custom-select {
  max-height: 30px;
  color: #fff;
  border: none;
  background: none;
  font-size: 0.6rem;
  padding: 0.1rem 0.5rem;
}

header .header_top_bar .input-group .custom-select#language {
  max-width: 80px;
}

header .header_top_bar .input-group .custom-select option {
  background-color: #f4f4f4;
  border: 0;
  color: #2a2d2e;
}

header .header_top_bar .input-group .custom-select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

header .header_main {
  background-color: #fff;
  -webkit-box-shadow: inset 0 -1px 0 0 #ececec;
  box-shadow: inset 0 -1px 0 0 #ececec;
}

header .header_main.fixed-top {
  -webkit-box-shadow: 0 1px 4px 0 #6d7783;
  box-shadow: 0 1px 4px 0 #6d7783;
}

header .header_main.fixed-top img {
  max-height: 40px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .header_main nav button.navbar-toggler {
  font-size: 1rem;
  border: none;
  outline: none;
}

header .header_main nav img {
  max-height: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .header_main nav ul li.nav-item.active a.nav-link {
  color: #ed1b2e !important;
}

header .header_main nav ul li.nav-item a.nav-link {
  color: #2a2d2e !important;
  font-size: 0.6rem;
  font-weight: 700;
}

header .header_main nav ul li.nav-item a.nav-link:hover {
  cursor: pointer;
  color: #ed1b2e !important;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .header_main nav ul li.nav-item a.nav-link > i {
  font-size: 1rem;
}

header .header_main nav ul li.nav-item:last-child a {
  margin-top: 0.4rem;
  margin-left: 1rem;
}

.title_bar {
  min-height: 300px;
  background-color: transparent;
}

.title_bar__content {
  min-height: 300px;
  background: rgba(0, 0, 0, 0.8);
}

.title_bar__content .breadcrumb {
  background-color: transparent;
}

.title_bar__content .breadcrumb .breadcrumb-item {
  text-transform: uppercase;
}

.title_bar__content .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "|";
}

.title_bar__content .breadcrumb .breadcrumb-item a {
  color: #fff;
}

.title_bar__content .breadcrumb .breadcrumb-item a:hover {
  color: #ed1b2e;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.title_bar__content .breadcrumb .breadcrumb-item::before, .title_bar__content .breadcrumb .breadcrumb-item.active {
  color: #fff;
}

.main_container {
  max-width: 1200px;
  margin: 0 auto;
}

.main_container .main_banner {
  background-color: transparent;
}

.main_container .main_banner__message {
  min-height: 60vh;
  background: rgba(0, 0, 0, 0.5);
}

.main_container .main_banner__message a {
  margin-bottom: 20px;
}

.main_container .main_content .vmec_welcome {
  background-color: #f4f4f4;
}

.main_container .main_content .vmec_message {
  background-color: #fff;
  background-image: url("../../images/gallery//aditya-chinchure-499383.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main_container .main_content .vmec_message__avata {
  background-image: url("../../images/gallery//avata-director.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.main_container .main_content .vmec_message__content {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.main_container .main_content .vmec_product {
  background-color: #fff;
  min-height: 440px;
}

.main_container .main_content .vmec_product__elevator {
  background-image: url("../../images/gallery//thang_may.jpg");
}

.main_container .main_content .vmec_product__escalator {
  background-image: url("../../images/gallery//thang_cuon.jpg");
}

.main_container .main_content .vmec_product__elevator, .main_container .main_content .vmec_product__escalator {
  min-height: 440px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main_container .main_content .vmec_product__text {
  background-color: rgba(0, 0, 0, 0.5);
}

.main_container .main_content .vmec_product__text:not(:hover) {
  min-height: 250px;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .main_content .vmec_product__text:hover {
  cursor: pointer;
  text-decoration: none;
  min-height: 440px;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .main_content .vmec_services {
  background-color: #f4f4f4;
}

.main_container .main_content .vmec_services__item {
  min-height: 400px;
  margin-bottom: 30px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 0 1px #ececec;
  box-shadow: inset 0 0 0 1px #ececec;
}

.main_container .main_content .vmec_services__item:hover {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main_container .main_content .vmec_services__item:hover .vmec_services__text {
  color: #2a2d2e;
}

.main_container .main_content .vmec_services__icon i {
  font-size: 3rem;
}

.main_container .main_content .vmec_customers {
  background-color: #fff;
}

.main_container .main_content .vmec_customers__building {
  background-image: url("../../images/gallery/customer_building.jpg");
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main_container .main_content .vmec_customers__hotel {
  background-image: url("../../images/gallery/customer_hotel.jpg");
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main_container .main_content .vmec_customers__hospital {
  background-image: url("../../images/gallery/customer_hospital.jpg");
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main_container .main_content .vmec_customers__school {
  background-image: url("../../images/gallery/customer_school.jpg");
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main_container .main_content .vmec_customers__apartment {
  background-image: url("../../images/gallery/customer_apartment.jpg");
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main_container .main_content .vmec_customers__downtown {
  background-image: url("../../images/gallery/customer_downtown.jpg");
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main_container .main_content .vmec_customers__airport {
  background-image: url("../../images/gallery/customer_airport.jpg");
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main_container .main_content .vmec_customers__other {
  background-image: url("../../images/gallery/customer_other.jpg");
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main_container .main_content .vmec_customers__text {
  min-height: 150px;
  padding: 1.5rem;
}

.main_container .main_content .vmec_customers__text:not(:hover) {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .main_content .vmec_customers__text:hover {
  cursor: pointer;
  padding-left: 5%;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .main_content .vmec_customers .owl-carousel {
  position: relative;
}

.main_container .main_content .vmec_customers .owl-carousel .owl-nav {
  margin: 0;
  position: absolute;
  top: 50%;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  z-index: 2000;
}

.main_container .main_content .vmec_customers .owl-carousel .owl-nav button {
  margin: 0;
  font-size: 1rem;
  border-radius: 0;
  padding: 1rem 0.6rem !important;
  background-color: #2a2d2e;
  color: #fff;
}

.main_container .main_content .vmec_customers .owl-carousel .owl-nav button:first-child {
  margin-right: auto !important;
}

.main_container .main_content .vmec_customers .owl-carousel .owl-nav button:focus {
  outline: none;
}

.main_container .main_content .vmec_customers .owl-carousel:not(:hover) .owl-prev {
  margin-left: -30px;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .main_content .vmec_customers .owl-carousel:not(:hover) .owl-next {
  margin-right: -30px;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .main_content .vmec_customers .owl-carousel:hover {
  cursor: -webkit-grab;
}

.main_container .main_content .vmec_customers .owl-carousel:hover .owl-prev {
  margin-left: 0 !important;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .main_content .vmec_customers .owl-carousel:hover .owl-next {
  margin-right: 0 !important;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .main_content .vmec_support {
  background-color: #f4f4f4;
}

.main_container .main_content .vmec_support__item {
  margin-bottom: 30px;
}

.main_container .main_content .vmec_support__footer {
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 0 1px #ececec;
  box-shadow: inset 0 0 0 1px #ececec;
}

.main_container .main_content .vmec_support__footer p {
  margin-bottom: 0.3rem;
}

.main_container .main_content .vmec_support__footer a {
  color: #ed1b2e;
}

.main_container .main_content .vmec_support__footer a i {
  padding-top: 0.25rem;
}

.main_container .main_content .vmec_support__footer a:not(:hover) i {
  margin-left: 0.3rem;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .main_content .vmec_support__footer a:hover i {
  margin-left: 0.4rem;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .main_content .vmec_recuitment {
  background-color: #fff;
  margin-bottom: 5px;
}

.main_container .main_content .vmec_recuitment .container-fluid {
  padding-left: 25px;
  padding-right: 25px;
}

.main_container .main_content .vmec_recuitment__img {
  position: relative;
}

.main_container .main_content .vmec_recuitment__img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-box-shadow: inset 0 0 0 5px #fff;
  box-shadow: inset 0 0 0 5px #fff;
}

.main_container .main_content .vmec_recuitment__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main_container .main_content .vmec_recuitment__link:not(:hover) {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .main_content .vmec_recuitment__link:not(:hover) a {
  color: #fff;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .main_content .vmec_recuitment__link:not(:hover) a i {
  opacity: 0;
  margin-left: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .main_content .vmec_recuitment__link:hover {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .main_content .vmec_recuitment__link:hover a {
  color: #ed1b2e;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .main_content .vmec_recuitment__link:hover a i {
  opacity: 1;
  margin-left: 0.5rem;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .main_content .vmec_recuitment__link a {
  padding: 5rem 0;
  z-index: 1;
}

.main_container .main_content .vmec_news {
  background-color: #f4f4f4;
}

.main_container .main_content .vmec_news__item {
  margin-bottom: 33px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 0 1px #ececec, 0 -3px 0 0 #ed1b2e;
  box-shadow: inset 0 0 0 1px #ececec, 0 -3px 0 0 #ed1b2e;
}

.main_container .main_content .vmec_news__title {
  margin-bottom: 1rem;
}

.main_container .main_content .vmec_news__subtitle {
  margin-bottom: 0.5rem;
}

.main_container .main_content .vmec_contact {
  background-color: #f4f4f4;
}

.main_container .main_content .vmec_contact__form .form-control {
  border: 1px solid #ececec;
}

.main_container .main_content .vmec_contact__form textarea {
  padding-top: 0.6rem;
}

.main_container .main_content .vmec_contact__form .form-group a:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.main_container .main_content .vmec_contact__bar {
  background-color: #2a2d2e;
}

.main_container .main_content .vmec_contact__add {
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 0 1px #ececec;
  box-shadow: inset 0 0 0 1px #ececec;
}

.main_container .main_content .vmec_contact__office {
  margin-bottom: 1rem;
}

.main_container .main_content .vmec_contact__office p {
  margin-bottom: 0.5rem;
}

.main_container .main_content .vmec_contact__office a {
  color: #ed1b2e;
}

.main_container .main_content .vmec_contact__office a:not(:hover) i {
  margin-right: 0.25rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main_container .main_content .vmec_contact__office a:hover i {
  margin-right: 0.5rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main_container .vmec_sidebar {
  position: fixed;
  top: 120px;
  right: 0;
  z-index: 1030;
  background-color: #fff;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  -webkit-box-shadow: 0 0 4px 0 #6d7783;
  box-shadow: 0 0 4px 0 #6d7783;
}

.main_container .vmec_sidebar li:nth-child(2), .main_container .vmec_sidebar li:nth-child(3) {
  border-top: 2px solid #ed1b2e;
}

.main_container .vmec_sidebar li a {
  display: block;
  margin: 0.8rem 1rem;
}

.main_container .vmec_sidebar li a i {
  font-size: 1rem;
}

.main_container .about_content__item {
  margin-bottom: 30px;
}

.main_container .about_content__footer {
  background-color: #f4f4f4;
  -webkit-box-shadow: inset 0 0 0 1px #ececec;
  box-shadow: inset 0 0 0 1px #ececec;
}

.main_container .about_content__footer a:not(:hover) i {
  margin-right: 0.25rem !important;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .about_content__footer a:hover i {
  margin-right: 0.5rem !important;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .lichsu_content i {
  color: #ed1b2e;
}

.main_container .services_content i {
  color: #ed1b2e;
  font-size: 0.5rem;
}

.main_container .services_content__footer {
  background-color: #f4f4f4;
  -webkit-box-shadow: inset 0 0 0 1px #ececec;
  box-shadow: inset 0 0 0 1px #ececec;
}

.main_container .services_content__footer a:not(:hover) i {
  margin-right: 0.25rem !important;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .services_content__footer a:hover i {
  margin-right: 0.5rem !important;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .product_content .nav .nav-item {
  margin-bottom: 1rem;
}

.main_container .product_content .nav .nav-item + .nav-item {
  margin-left: 0.5rem;
}

.main_container .product_content .nav .nav-item .nav-link {
  border: none;
  border-radius: 0;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0 0 0 1px #ececec;
  box-shadow: inset 0 0 0 1px #ececec;
}

.main_container .product_content .nav .nav-item .nav-link.active {
  background-color: #ed1b2e;
  -webkit-box-shadow: inset 0 0 0 1px #ed1b2e;
  box-shadow: inset 0 0 0 1px #ed1b2e;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .product_content__item {
  display: block;
  margin-bottom: 30px;
}

.main_container .product_content__footer {
  background-color: #f4f4f4;
  -webkit-box-shadow: inset 0 0 0 1px #ececec;
  box-shadow: inset 0 0 0 1px #ececec;
}

.main_container .product_content__footer:not(:hover) i {
  opacity: 0;
  margin-left: -0.6rem;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .product_content__footer:hover i {
  opacity: 1;
  margin-left: 0.5rem;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .product_content__single .nav .nav-item {
  margin-bottom: 0;
}

.main_container .product_content__single .nav .nav-item + .nav-item {
  margin-left: 0.5rem;
}

.main_container .product_content__single .nav .nav-item .nav-link {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.main_container .product_content__single .nav .nav-item .nav-link.active {
  color: #ed1b2e;
  -webkit-box-shadow: 0 2px 0 0 #ed1b2e;
  box-shadow: 0 2px 0 0 #ed1b2e;
  background-color: transparent;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .product_content p > i {
  font-size: 0.5rem;
  color: #ed1b2e;
}

.main_container .product_content .vmec_btn a {
  padding: 0.5rem 1rem;
}

.main_container .product_content .vmec_btn a[href="./#vmec_contact"]:not(:hover) {
  color: #2a2d2e !important;
  background-color: transparent;
  border: 1px solid #6d7783;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .product_content .vmec_btn a[href="./#vmec_contact"]:hover {
  background-color: #ed1b2e;
  border: 1px solid #ed1b2e;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main_container .recuitment_content__item .accordion .card {
  border-radius: 0;
  border: 1px solid #6d7783;
  border-bottom: none;
}

.main_container .recuitment_content__item .accordion .card:last-child {
  border-bottom: 1px solid #6d7783;
}

.main_container .recuitment_content__item .accordion .card-header {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0;
  background-color: #f4f4f4;
}

.main_container .recuitment_content__item .accordion .card-header:hover {
  cursor: pointer;
  background-color: #ececec;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main_container .recuitment_content__item .accordion .card-body i {
  color: #ed1b2e;
  font-size: 0.5rem;
}

.main_container .recuitment_content__guide i {
  color: #ed1b2e;
  font-size: 0.5rem;
}

footer .vmec_footer__main {
  position: relative;
  min-height: 500px;
  background-image: url("../../images/gallery/aditya-chinchure-499383.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

footer .vmec_footer__main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

footer .vmec_footer__title p {
  color: #ed1b2e !important;
}

footer .vmec_footer__office {
  margin-bottom: 1.5rem;
}

footer .vmec_footer__office p:first-child {
  margin-bottom: 0.7rem;
  font-weight: 700;
}

footer .vmec_footer__office p:nth-child(2), footer .vmec_footer__office p:nth-child(3) {
  margin-bottom: 0.5rem;
}

footer .vmec_footer__item {
  margin-bottom: 30px;
}

footer .vmec_footer__item a, footer .vmec_footer__item p {
  color: #fff;
}

footer .vmec_footer__link p:hover a, footer .vmec_footer__info p:hover a {
  color: #ed1b2e;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

footer .vmec_footer__social a i {
  font-size: 0.9rem;
}

.modal-open {
  padding: 0 !important;
}

.modal-open .modal {
  padding: 0 !important;
}

.modal-open .modal .modal-dialog {
  max-width: 1170px;
}

.modal-open .modal .modal-content {
  border-radius: 0;
  border: none;
}

.modal-open .modal .modal-header {
  border-bottom: 2px solid #ed1b2e;
}

.modal-open .modal .modal-body {
  overflow: hidden;
  padding-bottom: 56.25%;
}

.modal-open .modal .modal-body iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.modal-open .modal .modal-body .vmec_btn a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.modal-open .modal .modal-body .vmec_btn:not(:hover) a i {
  margin-right: -0.7rem;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.modal-open .modal .modal-body .vmec_btn:hover a i {
  margin-right: 0.5rem;
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.modal-open .modal.vmec_search.show .modal-dialog {
  -webkit-transform: translate(0, -10%);
  -ms-transform: translate(0, -10%);
  transform: translate(0, -10%);
}

.modal-open .modal.vmec_search .modal-dialog {
  max-width: 800px;
}

.modal-open .modal.vmec_search .modal-body .form-group {
  margin: 0;
}

.modal-open .modal.vmec_search .modal-body .form-group .form-control {
  font-size: inherit;
  border-radius: 0;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1020;
  padding: 0.5rem 0.95rem;
  text-align: center;
  line-height: 30px;
  color: #fff;
  background-color: #ed1b2e;
  text-decoration: none;
  visibility: hidden;
}

#back-to-top:hover {
  cursor: pointer;
  background-color: #c91726;
  -webkit-transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#back-to-top.show {
  visibility: visible;
  -webkit-transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
